<footer>
    <div class="copyright-name">
        <h4>&copy; Vivek. All Rights Reserved</h4>
    </div>
    <div class="nav-link">
        <ul>
            <li> <a href="/users/profile">Profile</a> </li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>


</footer>
