<link rel="stylesheet" href="/css/home.css">

<h1>
    You are at <%= title %> profile
</h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content"  cols="30" rows="5"></textarea>
        <input type="submit" value="Post">
    </form>

    <div id="posts-list-container">
        <ul>
            <% for (post of posts){ %>
                
                
            <li>
                <p><%= post.user.name %></p>
                <%= post.content %>
            </li>    
            
            <% }%>


        </ul>

    </div>
</section>

