<link rel="stylesheet" href="/css/home.css">

<h1>
    You are at <%= title %> profile
</h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content"  cols="30" rows="5"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
