<h1>you are at <%= title %> page</h1>

<!-- signIn page -->
<form action="/users/create-session" method="POST">
<input type="email" name="email" placeholder="email / username" required>
<input type="password" name="password" placeholder="Your password" required>
<input type="submit" value="submit">
</form>